html,
body {
    height: 100%;
}

body {
    font-family: var(--primary-font-family);
    min-width: 300px;
}

/* Styles for customizing browswer scrollbar
-----------------------------------------------------------*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar:horizontal {
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888888;
}

/* End
-----------------------------------------------------------*/

@font-face {
    font-family: MontserratExtraBold;
    src: url('../fonts/Montserrat-ExtraBold.ttf');
}

:root {
    --primary-color: #0D8609;
    --primary-red-color: #9E0000;
    --primary-font-family: Verdana;
    --secondary-font-family: MontserratExtraBold;
}

br {
    clear: both;
}

h1 {
    font-weight: bold;
    font-size: 0.98em;
    font-family: var(--primary-font-family);
    line-height: 24px;
}

.loading-component {
    width: 100%;
    text-align: center;
    background-color: #FFFFFF;
    padding: 20px 0px;
    font-weight: normal;
    font-size: 0.85em;
    font-family: var(--primary-font-family);
}

/* Styles for global error message
-----------------------------------------------------------*/
.global-error-message {
    opacity: 0;
    display: none;
    color: #FFFFFF;
    background-color: var(--primary-red-color);
    text-align: center;
    font-weight: normal;
    font-size: 0.75em;
    padding: 5px;
}

.global-error-message.show-global-error-message {
    display: block;
    -webkit-animation: show-global-error-message 0.5s linear;
    -moz-animation: show-global-error-message 0.5s linear;
    animation: show-global-error-message 0.5s linear;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.global-error-message.hide-global-error-message {
    display: none;
    -webkit-animation: hide-global-error-message 0.5s linear;
    -moz-animation: hide-global-error-message 0.5s linear;
    animation: hide-global-error-message 0.5s linear;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes show-global-error-message {
    to {
        opacity: 1;
    }
}

@keyframes hide-global-error-message {
    to {
        opacity: 0;
    }
}

/* Styles for header, footer
-----------------------------------------------------------*/
header,
footer {
    display: block;
}

header {
    width: 100%;
    padding: 12px 0px;
    background-color: rgb(102, 102, 102);
}

header .logo {
    width: 121px;
    height: 59px;
    margin: auto;
    background: url('../images/logo.png') no-repeat;
    cursor: pointer;
}

.inner-body {
    width: 70%;
    margin: auto;
}

footer {
    width: 100%;
    padding: 30px 0px;
}

footer .inner-footer {
    width: 90%;
    margin: auto;
    text-align: center;
}

footer .inner-footer .text-label {
    display: block;
    font-family: var(--primary-font-family);
    font-size: 0.54em;
    font-weight: normal;
    color: var(--primary-color);
}


/* Styles for input output controls
-----------------------------------------------------------*/

.scroll-top {
    position: fixed;
    visibility: hidden;
    width: 28px;
    height: 48px;
    z-index: 9999;
    border-left: 2px solid #FFFFFF;
    border-top: 2px solid #FFFFFF;
    border-right: 0px;
    border-bottom: 2px solid #FFFFFF;
    -webkit-border-radius: 100px 0px 0px 100px;
    -moz-border-radius: 100px 0px 0px 100px;
    border-radius: 100px 0px 0px 100px;
    background-color: var(--primary-color);
    font-size: 1.3em;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 900;
    cursor: pointer;
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    transform: translateY(-20px);
}

.scroll-top.show-scroll-top {
    -webkit-animation: show-scroll-top 0.3s linear;
    -moz-animation: show-scroll-top 0.3s linear;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation: show-scroll-top 0.3s linear;
    animation-fill-mode: forwards;
}

.scroll-top.hide-scroll-top {
    -webkit-animation: hide-scroll-top 0.3s linear;
    -moz-animation: hide-scroll-top 0.3s linear;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation: hide-scroll-top 0.3s linear;
    animation-fill-mode: forwards;
}

.scroll-top .arrow {
    text-align: center;
    margin: 11px 0px 0px 2px;
}

@keyframes show-scroll-top {

    to {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        transform: translateY(0);
        visibility: visible;
        opacity: 1;
    }
}

@keyframes hide-scroll-top {
    from {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        transform: translateY(0);
        visibility: visible;
        opacity: 1;
    }

    to {
        -webkit-transform: translateY(-20px);
        -moz-transform: translateY(-20px);
        transform: translateY(-20px);
        visibility: hidden;
        opacity: 0;
    }
}

.cart-summary-popup {
    display: none;
    position: fixed;
    width: auto;
    z-index: 1;
}

.cart-summary-popup.show-cart-summary-popup {
    display: block;
}

.cart-inner-summary-popup {
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

.cart-summary {
    display: flex;
    -webkit-align-items: center;
    background-color: #FFFFFF;
    padding: 6px 4px 6px 8px;
    border-top: 1px solid var(--primary-color);
    border-right: 0px;
    border-bottom: 1px solid var(--primary-color);
    border-left: 1px solid var(--primary-color);
    -webkit-border-radius: 100px 0px 0px 100px;
    -moz-border-radius: 100px 0px 0px 100px;
    align-items: center;
    border-radius: 100px 0px 0px 100px;
    cursor: pointer;
}

.cart-summary .cart-icon {
    width: 21px;
    height: 15px;
    margin-right: 4px;
    background: url('../images/cartIcon.png') no-repeat;
}

.cart-summary .cart-label-qty,
.cart-label-sub-total {
    text-decoration: none;
    font-weight: normal;
    font-size: 0.75em;
    color: #000000;
    white-space: nowrap;
}

.cart-summary .separator {
    margin: 0px 4px 0px 4px;
    font-size: 0.75em;
    color: #000000;
}

.field-label {
    text-decoration: none;
    font-weight: normal;
    font-size: 0.75em;
    color: #000000;
    line-height: 16px;
}

.field-label-0D8609 {
    text-decoration: none;
    font-weight: normal;
    font-size: 0.75em;
    color: var(--primary-color);
    line-height: 16px;
}

.close-button-right {
    width: 38px;
    height: 38px;
    text-align: center;
    border-bottom: 1px solid var(--primary-color);
    border-left: 1px solid var(--primary-color);
    border-top: 0px;
    border-right: 0px;
    background-color: var(--primary-color);
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 12px;
    -webkit-border-top-left-radius: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 12px;
    -moz-border-radius-topleft: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 0px;
    text-decoration: none;
    color: #FFFFFF;
    font-family: var(--primary-font-family);
    font-size: 1.4em;
    font-weight: normal;
    outline: none;
    cursor: pointer;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.close-button-right:hover {
    background-color: var(--primary-red-color);
    border-bottom: 1px solid var(--primary-red-color);
    border-left: 1px solid var(--primary-red-color);
}


/* Styles for check star controls
-----------------------------------------------------------*/



input[type=checkbox]:checked+.checkstar-slider {
    background: url('../images/checkedStar.svg') no-repeat;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    transition: 0.4s;
}

.button {
    font-family: var(--primary-font-family);
    border: 1px solid var(--primary-color);
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    background-color: var(--primary-color);
    font-size: 0.75em;
    color: #FFFFFF;
    padding: 8px 14px 8px 14px;
    text-decoration: none;
    text-align: center;
    font-weight: normal;
    white-space: normal;
    outline: none;
    cursor: pointer;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    border-radius: 100px;
    transition: all 0.2s linear;
}

.button:hover {
    background-color: #FFFFFF;
    color: var(--primary-color);
}

.button-FFFFFF {
    font-family: var(--primary-font-family);
    border: 1px solid var(--primary-color);
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    background-color: #FFFFFF;
    font-size: 0.75em;
    color: var(--primary-color);
    padding: 8px 14px 8px 14px;
    text-decoration: none;
    text-align: center;
    font-weight: normal;
    white-space: normal;
    outline: none;
    cursor: pointer;
}

.button-9E0000 {
    font-family: var(--primary-font-family);
    border: 1px solid var(--primary-red-color);
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    background-color: var(--primary-red-color);
    font-size: 0.75em;
    color: #FFFFFF;
    padding: 8px 14px 8px 14px;
    text-decoration: none;
    text-align: center;
    font-weight: normal;
    white-space: normal;
    outline: none;
    cursor: pointer;
}

.text-box-line-item-quantity {
    height: 25px;
    width: 65px;
    color: #454545;
    text-align: center;
    font-weight: normal;
    font-size: 0.75em;
    font-family: var(--primary-font-family);
    border: 1px solid #C0C0C0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    box-sizing: border-box;
    transition: all 0.25s linear;
}

.text-box {
    height: 35px;
    color: #454545;
    padding: 0px 10px 0px 10px;
    font-weight: normal;
    font-size: 0.75em;
    font-family: var(--primary-font-family);
    border: 1px solid #C0C0C0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    box-sizing: border-box;
    transition: all 0.25s linear;
}

.text-box:focus,
.text-box-line-item-quantity:focus {
    font-weight: 900;
}

.label-form-value {
    background-color: #C0C0C0;
    color: #454545;
    font-weight: normal;
    font-size: 0.75em;
    font-family: var(--primary-font-family);
    border: 0px;
    padding: 9px 10px 10px 10px;
    line-height: 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

.message-label {
    line-height: 20px;
}

.message-label {
    color: var(--primary-red-color);
    font-weight: normal;
    font-size: 0.75em;
    font-family: var(--primary-font-family);
}

/* Styles for fieldset controls
-----------------------------------------------------------*/

.text-box,
.label-form-value,
.message-label,
.field-label,
.field-label-0D8609 {
    display: block;
    width: 100%;
    margin-top: 5px;
}

.field-label-0D8609 {
    font-weight: bold;
}

.line-item-list {
    display: flex;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}

.line-item-list .line-item-info {
    margin-right: 5px;
    -webkit-flex: 6;
    flex: 6;
}

.line-item-list .line-item-picture {
    -webkit-flex: 1;
    flex: 1;
    width: 101px;
    min-width: 101px;
    border: 0px none;
}

.line-item-list .line-item-picture img {
    width: 100%;
}

.line-item-form .line-item-info {
    margin-right: 5px;
    -webkit-flex: 6;
    flex: 6;
}

.line-item-form .line-item-picture {
    -webkit-flex: 1;
    flex: 1;
    width: 101px;
    min-width: 101px;
    border: 0px none;
}

.line-item-form .line-item-picture img {
    width: 100%;
}

nav {
    width: 100%;
    padding: 0px 0px 12px 0px;
    margin: 12px 0px 0px 0px;
}

nav .nav-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 1;
}

nav .nav-div.hide-button-progress-bar {
    display: none;
    -webkit-animation: hide-button-progress-bar 0.2s linear;
    -moz-animation: hide-button-progress-bar 0.2s linear;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation: hide-button-progress-bar 0.2s linear;
    animation-fill-mode: forwards;
}

nav .nav-div .nav-separator {
    height: 6px;
}

.button-progress-bar {
    margin: auto;
    font-family: var(--primary-font-family);
    border: 1px solid var(--primary-color);
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    background-color: var(--primary-color);
    font-size: 0.75em;
    color: #FFFFFF;
    padding: 8px 14px 8px 14px;
    text-decoration: none;
    text-align: center;
    font-weight: normal;
    white-space: normal;
    outline: none;
    display: none;
    opacity: 0;
}

.button-progress-bar.show-button-progress-bar {
    display: block;
    -webkit-animation: show-button-progress-bar 0.2s linear;
    -moz-animation: show-button-progress-bar 0.2s linear;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation: show-button-progress-bar 0.2s linear;
    animation-fill-mode: forwards;
}

@keyframes show-button-progress-bar {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes hide-button-progress-bar {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.popup-form-medium,
.popup-form-large,
.popup-form-progress-bar {
    -webkit-box-shadow: 0px 8px 16px 0px rgb(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 8px 16px 0px rgb(0, 0, 0, 0.6);
    box-shadow: 0px 8px 16px 0px rgb(0, 0, 0, 0.6);
}

/* Styles for background popup
-----------------------------------------------------------*/

.background-popup {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: transparent;
    z-index: 6;
    opacity: 0;
}

.background-popup.show-popup-background {
    display: block;
    -webkit-animation: show-popup-background 0s linear;
    -moz-animation: show-popup-background 0s linear;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation: show-popup-background 0s linear;
    animation-fill-mode: forwards;
}

.background-popup.hide-popup-background {
    display: none;
    -webkit-animation: hide-popup-background 0s linear;
    -moz-animation: hide-popup-background 0s linear;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation: hide-popup-background 0s linear;
    animation-fill-mode: forwards;
}

@keyframes show-popup-background {
    to {
        opacity: 1;
    }
}

@keyframes hide-popup-background {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/* Styles for popup form progress bar
-----------------------------------------------------------*/

.popup-form-progress-bar {
    display: none;
    box-sizing: border-box;
    position: absolute;
    z-index: 8;
    background: linear-gradient(to right, #0D8609, #9E0000, #f1f1f1, #FFFFFF, #888888, #C3C3C3);
    background-size: 400% 400%;
    animation: gradient 2s ease infinite;
    width: 100%;
    height: 6px;

}

.popup-form-progress-bar.show-popup-form-progress-bar {
    display: block;
}

.popup-form-progress-bar.hide-popup-form-progress-bar {
    display: none;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* Styles for popup form medium
-----------------------------------------------------------*/

.popup-form-medium {
    display: none;
    position: absolute;
    width: 100%;
    min-width: 260px;
    height: 100vh;
    z-index: 5;
    background-color: #FFFFFF;
    opacity: 0;
    overflow: auto;
}

.popup-form-medium.show-popup-form {
    -webkit-animation: show-popup-form 0.3s linear;
    -moz-animation: show-popup-form 0.3s linear;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation: show-popup-form 0.3s linear;
    animation-fill-mode: forwards;
}

.popup-form-medium.hide-popup-form {
    -webkit-animation: hide-popup-form 0.3s linear;
    -moz-animation: hide-popup-form 0.3s linear;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation: hide-popup-form 0.3s linear;
    animation-fill-mode: forwards;
}

.popup-form-medium fieldset {
    width: 26%;
    border: none;
    margin: 50px auto auto auto;
}

.popup-form-medium fieldset h1 {
    color: var(--primary-color);
}

/* Styles for popup form large
-----------------------------------------------------------*/
.popup-form-large {
    display: none;
    position: absolute;
    width: 100%;
    min-width: 260px;
    height: 100vh;
    z-index: 5;
    background-color: #FFFFFF;
    opacity: 0;
    overflow: auto;
}

.popup-form-large.show-popup-form {
    -webkit-animation: show-popup-form 0.3s linear;
    -moz-animation: show-popup-form 0.3s linear;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation: show-popup-form 0.3s linear;
    animation-fill-mode: forwards;
}

.popup-form-large.hide-popup-form {
    -webkit-animation: hide-popup-form 0.3s linear;
    -moz-animation: hide-popup-form 0.3s linear;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation: hide-popup-form 0.3s linear;
    animation-fill-mode: forwards;
}

.popup-form-large .close-button-right {
    float: right;
}

.popup-form-large fieldset {
    width: 40%;
    border: none;
    margin: 50px auto auto auto;
}

.popup-form-large fieldset h1 {
    color: var(--primary-color);
}

@keyframes show-popup-form {

    from {
        -webkit-transform: translateY(-60px);
        -moz-transform: translateY(-60px);
        transform: translateY(-60px);
    }

    to {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes hide-popup-form {
    from {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }

    to {
        -webkit-transform: translateY(-60px);
        -moz-transform: translateY(-60px);
        transform: translateY(-60px);
        visibility: hidden;
        opacity: 0;
    }
}

/* Styles for scroll horizontal menu
-----------------------------------------------------------*/

.scroll-horizontal-menu {
    display: flex;
    align-items: flex-start;
    overflow: auto;
}

.scroll-horizontal-menu>div {
    margin: 0px 6px 6px 0px;
    white-space: nowrap;
    text-transform: uppercase;
}

/* Styles for List controls
-----------------------------------------------------------*/

.list-top-line {
    height: 1px;
    border-top: 1px solid #C3C3C3;
}

.list-label {
    color: #454545;
}

.list-value {
    font-family: var(--primary-font-family);
    color: var(--primary-color);
}

.list-value {
    font-weight: 600;
}

.list-label,
.list-value {
    display: inline-block;
    font-size: 0.75em;
    text-decoration: none;
    line-height: 16px;
}

.list-row {
    padding: 20px 0px;
    border-bottom: 1px solid #C3C3C3;
}

.list-row-line {
    margin-top: 6px;
}

.on-special {
    width: 90px;
    margin: auto;
    padding: 5px 10px 8px 10px;
    background-color: var(--primary-red-color);
    text-align: center;
    -webkit-border-radius: 0px 0px 12px 12px;
    -moz-border-radius: 0px 0px 12px 12px;
    border-radius: 0px 0px 12px 12px;
}

.on-special label {
    font-weight: normal;
    font-size: 0.75em;
    color: #FFFFFF;
}

.product-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.add-to-cart-product-image {
    padding: 10px;
}

.product-list .item,
.add-to-cart-product-image {
    border: 1px solid #C3C3C3;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    background-color: #FFFFFF;
}

.item .item-row {
    width: 92%;
    margin: 6px auto auto auto;
}

.item .separator {
    display: inline-block;
    font-size: 0.84em;
    color: #5C5C5C;
}

.item .field-label-0D8609 {
    font-weight: bold;
}

/* Styles for media only screen
-----------------------------------------------------------*/
@media only screen and (max-width: 1300px) {

    .popup-form-medium fieldset {
        width: 32%;
    }

    .popup-form-large fieldset {
        width: 50%;
    }
}

@media only screen and (max-width: 1030px) {

    .popup-form-medium fieldset {
        width: 42%;
    }

    .popup-form-large fieldset {
        width: 60%;
    }
}

@media only screen and (max-width: 800px) {

    .popup-form-medium fieldset {
        width: 52%;
    }

    .popup-form-large fieldset {
        width: 70%;
    }
}

@media only screen and (max-width: 500px) {

    .popup-form-medium fieldset {
        width: 62%;
    }

    .popup-form-large fieldset {
        width: 80%;
    }
}

@media only screen and (max-width: 1230px) {

    .product-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 930px) {

    .product-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 600px) {

    .product-list {
        grid-template-columns: repeat(1, 1fr);
    }
}